<!-- Loads the path to your static files -->

{% load staticfiles %}
<!--<link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}" /> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<nav class="navbar navbar-default">
	<div class="container-fluid"></div> 

	<!-- Logo -->
	<div class="navbar-header"> 
	    <a class="navbar-brand" href="{% url 'music:index' %}">Viberr</a>
	</div> 

{% if all_albums %}
	<h1>List of Albums</h1>

	<u1>
    		{% for album in all_albums %}
		<li><a href="{% url 'music:detail' album.id %}">{{ album.album_title }}</a></li>
    		{% endfor %}
	</u1>

{% else	%}
	<h3>You dont have any albums</h3>
{% endif %}	

